<footer class="u-align-center u-clearfix u-footer u-palette-2-base u-footer" id="sec-65a7"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Home | About Us | Get A Quote | Track Shipment | Contact Us</p>
  </div></footer>
<section class="u-backlink u-clearfix u-grey-80">
  <p class="u-text">
    <span>Designed and Developed by &nbsp;</span>
  </p>
  <a class="u-link" href="https://thumbs-devs.web.app" target="_blank">
    <span>Thumbs Developers</span>
  </a>. 
</section>