<div class="u-body">
    <section class="u-clearfix u-section-4" style="margin-top: 1.5rem; margin-bottom: 5rem;" id="sec-6398">
      <div class="container"> 
        <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1" style="margin-bottom: 1.5rem;">Contact Us</h1>
        <p style="font-size: 18px; font-weight: 500; color: rgb(86, 84, 84);" class="u-align-left u-text u-text-2">
          Please get in touch and our expert support team will answer all your questions
        </p>
        <div class="map_embed">
          <div class="mapouter shadow">
            <div class="gmap_canvas">
              <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Iyana%20Ejigbo%20Shopping%20Arcade,%20Ejigbo,%20Lagos&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
        </div>
      </div>
    </section>
    <hr style="width: 80% !important;">

    <section class="u-clearfix u-expanded-width-xl u-palette-2-base u-section-7" style="margin-bottom: 0.5px" id="carousel_8c9f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
  
            <div class="u-layout-row">
              <div class="col-12 text-center">
                <h1 class="u-text u-text-palette-3-base u-text-1" style="color: white !important; margin: 3rem !important">Our Local Offices Address</h1>
              </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">FCT, Abuja</h2>
                    <p class="u-text u-text-2 my_address">Bukka, Spices Plaza, Opp. Timber Shade, One-Man Village, Keffi-Abuja Expressway, Abuja&nbsp; | Tel: +234 (0)806776621
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Adamawa State: Yola</h2>
                    <p class="u-text u-text-2 my_address">Amana Plaza, Shop 2, Along Galadima Aminu Way, Shagaru Junction, Yola | Tel: 08026979788, 07065788137&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Oyo State: Ibadan</h2>
                    <p class="u-text u-text-2 my_address">Ademal Stores, NIPCO Filling Station, Akobo. Ibadan | Tel: +234 (0)8032149454&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Plateau State: Jos</h2>
                    <p class="u-text u-text-2 my_address">Kilometer 3, Agwon Ali Junction, Shen Road, Bukuru Jos, Tel: +234 (0)803591489&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Kaduna State: Kaduna</h2>
                    <p class="u-text u-text-2 my_address">1, Bishop Jatau Street, Tsaunin Kura Layout, Sabo, Kaduna&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Kano State: Kano</h2>
                    <p class="u-text u-text-2 my_address">Aminu Kano International Airport Complex, Kano | Tel: +234 (0)803591489&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Ekiti State: Ado-Ekiti</h2>
                    <p class="u-text u-text-2 my_address">43 Surulere Street, Basiri, Ado-Ekiti | Tel: 08107040393&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Anambra State: Onitsha</h2>
                    <p class="u-text u-text-2 my_address">73, Limca Road, Nkpor, Onitsha, Tel: +2324 (0)9036368029&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Rivers State: PH</h2>
                    <p class="u-text u-text-2 my_address">Port Harcourt International Airport Complex, Port Harcourt&nbsp;
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-palette-3-base u-text-1">Akwa Ibom State: Uyo</h2>
                    <p class="u-text u-text-2 my_address">31, Iduro Road, Uyo. Tel: +234 (0)7037972553&nbsp;
                    </p>
                  </div>
                </div>  
            </div>
  
          </div>
        </div>
      </div>
    </section>

    <app-contact-form></app-contact-form>
</div>
