<div class="u-body">
    <section class="u-clearfix u-section-4" style="margin-top: 3rem;" id="sec-6398">
        <div class="">
          <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1">Who We Are</h1>
          <p class="u-align-center u-text u-text-2" style="font-weight: 500;">
            Streetwise Delivery Service Nigeria Limited operates consolidated courier and logistics management services in Nigeria in working collaboration with a worldwide network of partners. Our company maintains a smart workforce of highly dedicated personnel that are always pleased to be of service to our numerous clients located throughout the geography of Nigeria, neighboring West Africa, Africa, Europe, Asia Americas and Oceania. 
            We deliver promptly and affordably. Testimonies aboard from our numerous satisfied customers. 
          </p>
       
        <a style="padding: 10px 30px !important; font-size: 20px; margin-top: 3rem !important; margin-bottom: 3rem; margin: auto;" routerLink="/contact" class="u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-palette-2-base u-radius-50 u-btn-2 shadow">Contact Us</a>
            <div style="height: 5rem;"> &nbsp; </div>
          <div style="position: absolute !important;" class="u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1c42"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-1c42"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
                C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
                l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
                c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
                M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
                C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
                C80.2,0,80.1,0,80,0z"></path></svg>
          </div>

          <div style="position: absolute !important;" class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-2"></div>
          <div style="position: absolute !important; top: 13rem; z-index: -10;" class="myshape u-shape u-shape-svg u-text-palette-5-light-1 u-shape-3">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3be9"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3be9" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
          </div>
          <!-- <p class="u-align-center u-text u-text-grey-50 u-text-3">Image from <a href="https://www.freepik.com/photos/background" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-grey-50 u-btn-2">Freepik</a>
          </p> -->
        </div>
      </section>
    
      <section class="u-align-left u-clearfix u-palette-2-base u-section-3" id="carousel_9292">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <h1 class="u-custom-font u-font-montserrat u-text u-text-1 text-center">What We&nbsp;Do</h1>
          <p style="font-size: 18px; font-weight: 500; color: white; margin: 2rem !important" class="u-align-center u-text u-text-2 text-center">
            Streetwise Delivery is an international forwarder specialized in forwarding your shipments from and to any destinations of your choice. We provide the following specific services:
          </p>
          <div class="u-expanded-width u-list u-repeater u-list-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img style="width: 100%; border-radius: 4px;" src="https://media.istockphoto.com/photos/young-african-american-delivery-man-delivering-a-package-picture-id516061521?k=6&m=516061521&s=612x612&w=0&h=0WsEUj6DGcuhNeltGkhP_0qLMSqp_nxdh-RrlRkP1oI=">
                <h5 class="u-text u-text-8">Deliveries of Mails, Parcels & Cargoes</h5>
                <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                    We collect and deliver mails, parcels, and cargoes from anywhere in the world even at short notices Door-to-Door.                
                </p>
                <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">Contact Us</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img style="width: 100%; margin: auto  !important; border-radius: 4px;" src="../../../assets/images/haulage.jpg">
                <h5 class="u-text u-text-8">Haulage</h5>
                <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                  Our clients are assured of quick deliveries of their heavy cargoes to any location in Turkey and beyond such as the neighbouring countries and entire vworld.
                  </p>
                  <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">Contact Us</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/forwardiing.jpg">
                <h5 class="u-text u-text-4">Freight Clearing</h5>
                <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                    We guarantee prompt, efficient, and cost-effective clearance of goods of whatever description at overseas Airports and Seaports and can broker freight rates for clients as may be required.
                </p>
                <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">Contact Us</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img style="width: 100%; border-radius: 4px;" src="https://constructionweekonlineindia.storage.googleapis.com/public/styles/full_img/public/images/2020/06/07/APSEZ.jpg?itok=etZQnkb4">
                <h5 class="u-text u-text-6">Logistics Syndication</h5>
                <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                    We arrange complex local and international logistics for clients to secure the prompt clearing of their goods at airports, seaports, transit routes, company premises, etc.                
                </p>
                <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-3">Contact Us</a>
              </div>
            </div>

            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/mailroom.jpg">
                <h5 class="u-text u-text-8">Mail Room Management</h5>
                <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                    Our organization manages mailrooms for large and small organizations cheaply and efficiently; using adequately trained personnel.
                </p>
                <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">Contact Us</a>
            </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                  <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/warehousing.jpg">
                  <h5 class="u-text u-text-8">Warehousing </h5>
                  <p style="font-size: 18px; font-weight: 500; color: rgb(88, 87, 87);">
                    We provide warehouses for clients irrespective of location, and guarantee adequate protection of their goods.                
                  </p>
                <a routerLink="/contact" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">Contact Us</a>
            </div>
            </div>

          </div>
        </div>
      </section>

      <section class="u-clearfix u-section-3" style="color: #ffce00 !important; margin-top: 3rem;" id="sec-6398">
        <div class="container">
          <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1">Board of Directors</h1>
          <!-- <p class="u-align-center u-text u-text-2" style="font-weight: 500; font-size: 18px;">
            Streetwise Delivery is an international forwarder specialized in forwarding your shipments from and to any destinations of your choice. We design and implement industry-leading solutions together with our worldwide network of partners. We have over 50 dedicated employees, working around the globe to deliver operational excellence while providing viable answers even to the most challenging supply chain questions.
    
            We focus on providing excellence and value to our customer through our team of experts who bring passion to their work at all time. We are totally committed to meeting and exceeding our customers’ expectations. We are your preferred destination for shipping needs.
        </p> -->
            <div class="">
              <div class="row">
                <div *ngFor="let board of boards" class="col-lg-4 col-md-6 col-sm-12 u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
                  <div class="my-cont u-container-layout u-similar-container u-valign-top u-container-layout-1">
                    <div class="profile_pics_cont">
                      <img class="profile_pics" src="{{board?.image}}">
                    </div>
                    <h6 class="u-text u-text-4">{{board?.name}}</h6>
                    <a style="cursor:none !important; margin-top: 15px;" class="u-active-none">{{board?.title}}</a>
                    <p style="font-size: 16px; font-weight: 500; color: rgb(255, 255, 255);">{{board?.about}}</p>
                  </div>
                </div>

              </div>
            </div>
        
        </div>
      </section>

      <section class="u-clearfix u-section-3" style="margin-top: 3rem;" id="sec-6398">
        <div class="container text-center">
          <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1"> Key Clients</h1>
          <!-- <p class="u-align-center u-text u-text-2" style="font-weight: 500; font-size: 18px;">
            Streetwise Delivery is an international forwarder specialized in forwarding your shipments from and to any destinations of your choice. We design and implement industry-leading solutions together with our worldwide network of partners. We have over 50 dedicated employees, working around the globe to deliver operational excellence while providing viable answers even to the most challenging supply chain questions.
    
            We focus on providing excellence and value to our customer through our team of experts who bring passion to their work at all time. We are totally committed to meeting and exceeding our customers’ expectations. We are your preferred destination for shipping needs.
        </p> -->
        <h5>The list of our key clients is growing by the day. They include;</h5>
        <ul style="list-style-type: none !important;">
          <li class="ololo"> AG Leventis Nigeria limited </li>
          <li class="ololo"> Third Observers Nigeria Limited </li>
          <li class="ololo"> Adaptive Wood Industries Nigeria Limited </li>
          <li class="ololo"> Independent Shareholders' Association of Nigeria (ISAN) </li>
          <li class="ololo"> GLOV Cream International Limited </li>
        </ul>
        </div>
      </section>

</div>
