<div class="u-body">
  <section class="u-clearfix u-image u-section-1" id="carousel_91d0" data-image-width="1980" data-image-height="1114">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-left u-container-style my_bg_0 u-group u-palette-2-base u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1 shadow">
          <h1 class="u-text u-text-1">Streetwise Delivery Services Nig. Ltd</h1>
          <p class="u-large-text u-text u-text-variant u-text-2" >We are the preferred organization for all kinds of shipping services within and outside Nigeria when speed, affordability, and overall personnel efficiency matter.</p>
          
          <a (click)="showModal()" style="padding: 10px 30px !important" class="u-btn u-btn-round u-button-style u-radius-50 u-text-palette-2-base u-white u-btn-2 shadow">Send Package</a>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-section-2" id="carousel_a924">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-db78"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-db78"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
        C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
        l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
        c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
        M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
        C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
        C80.2,0,80.1,0,80,0z"></path></svg>
      </div>
      <div class="u-palette-3-base u-shape u-shape-circle u-shape-2"></div>
      <div class="u-align-left u-container-style u-grey-5 u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-text u-text-palette-2-base u-text-1">About Us</h1>
          <p class="u-text u-text-2" style="font-weight: 500;">
            Streetwise Delivery Services (SDS) Limited is a Private Limited Liability Company providing wholesome logistics support services to a wide range of clients that includes government, individuals, businesses, religious organizations, NGOs, e.t.c  
          </p>
          <a routerLink="/about" class="u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-palette-2-base u-radius-50 u-btn-2 shadow">Learn more</a>
        </div>
      </div>
      <img class="u-expanded-width-xs u-image u-image-1" src="../../../assets/images/depositphotos_57420787-stock-photo-customer-signing-for-delivery.jpg">
      <img class="u-border-11 u-border-white u-image u-image-2" src="../../../assets/images/facemaskguy.jpg">
    </div>
  </section>
  <section class="u-align-left u-clearfix u-palette-2-base u-section-3" id="carousel_9292">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-custom-font u-font-montserrat u-text u-text-1">What We&nbsp;Do?</h1>
      <p class="u-large-text u-text u-text-2" style="font-size: 18px !important;">
        We are proud to provide first-class services with respect to the following :   
      </p>
      <div class="u-expanded-width u-list u-repeater u-list-1">
        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/parcel.png">
            <h5 class="u-text u-text-4">Letters and Parcels Delivery</h5>
            <a routerLink="/about" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">learn more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/forwardiing.jpg">
            <h5 class="u-text u-text-6">Freight Forwarding</h5>
            <a routerLink="/about" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-3">learn more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/warehousing.jpg">
            <h5 class="u-text u-text-8">Warehosuing & Haulage</h5>
            <a routerLink="/about" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">learn more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <img style="width: 100%; border-radius: 4px;" src="../../../assets/images/mailroom.jpg">
            <h5 class="u-text u-text-8">Mail Room Management</h5>
            <a routerLink="/about" class="u-active-none u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-4" id="sec-6398">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1">Smart Deliveries</h1>
      <p class="u-align-center u-text u-text-2" style="font-weight: 500;">
        Send and track your shipment from the comfort of your home or office today and enjoy the pleasure of smart deliveries. It's just a click away! 
      </p>
      <a (click)="showModal()" class="u-btn u-button-style u-palette-3-base u-btn-1 shadow">Send Parcel</a>
      <div class="u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1c42"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-1c42"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
            C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
            l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
            c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
            M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
            C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
            C80.2,0,80.1,0,80,0z"></path></svg>
      </div>
      <div class="u-align-left u-image u-image-circle u-image-1" style="z-index: 99;">
        <div class="inner_circle">
          <div style="font-size: 40px;">1.</div>
            <div>Click the the button above</div>
            <div>to fill the form</div>
        </div>
      </div>
      <div class="u-align-left u-image u-image-circle u-image-2">
        <div class="inner_circle">
          <div style="font-size: 40px; margin-bottom: 1rem;">2.</div>
          <div style="font-size: 30px !important;">Confirm delivery details and</div>
          <div style="font-size: 30px !important; margin-top: 1rem;">make payment online</div>
          <!-- <div>to fill the form</div> -->
        </div>
      </div>
      <div class="u-align-left u-image u-image-circle u-image-3">
        <div class="inner_circle">
          <div style="font-size: 40px;">3.</div>
          <div>We get your package</div>
          <div>delivered</div>
        </div>
      </div>
      <div class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-2"></div>
      <div class="u-shape u-shape-svg u-text-palette-5-light-1 u-shape-3">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3be9"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3be9" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
      </div>
      <!-- <p class="u-align-center u-text u-text-grey-50 u-text-3">Image from <a href="https://www.freepik.com/photos/background" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-grey-50 u-btn-2">Freepik</a>
      </p> -->
    </div>
  </section>
  <section class="u-align-left u-clearfix u-palette-2-base u-section-5" id="carousel_6915">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="my_bg u-palette-3-base u-shape u-shape-rectangle u-shape-1">
        <!-- <img src="https://www.coscourier.com/ressources/images/1cfc9ac52211.jpg"> -->
      </div>
      
      <h2 class="u-text u-text-1">Smart Tracking, track the movement of your shipment </h2>
      <div style="font-size: 20px; max-width: 400px; text-align: left; margin-top: 2rem;">
        We ensure effective tracking which results to timely completion of your cargo movement to destination. We ensure our smart tracking system is efficient and refreshing so as to keep you abreast the location of your shipment per time.
        To track your shipment, just input the tracking ID of your shipment in the box below.
      </div>
      <div style="height: unset !important;" class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <!-- <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="800" data-image-height="800">
              <img class="u-back-image u-expanded u-back-image-1" src="../../../assets/images/">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="700" data-image-height="716">
              <img class="u-back-image u-expanded u-back-image-2" src="../../../assets/images/okay_package.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="1200" data-image-height="675">
              <img class="u-back-image u-expanded u-back-image-3" src="images/-min.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="417">
              <img class="u-back-image u-expanded u-back-image-4" src="images/ve-people-japanese-female-boss-supervisor-teaching-intern-new-employee-hispanic-girl-helping-with-difficult-assignment-mode.jpg?version=">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="800" data-image-height="800">
              <img class="u-back-image u-expanded u-back-image-5" src="images/rg-min.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="417">
              <img class="u-back-image u-expanded u-back-image-6" src="images/flat-lay-office-desk-assortment-with-empty-screen-tablet_23-2148707960.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div> -->

          <form source="custom" name="form">
            <div class="u-form-email u-form-group">
              <label for="email-0bab" class="u-form-control-hidden u-label">Email</label>
              <input type="email" placeholder="Enter a valid tracking ID" id="email-0bab" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <a href="#" class="u-btn u-btn-round u-button-style u-radius-50 u-text-palette-2-base u-white u-btn-2 shadow">Track your goods</a>
          </form>
        </div>
      </div>
    
    </div>
  </section>
  <section class="u-clearfix u-section-6" id="carousel_c15d">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-db78"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-db78"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
          C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
          l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
          c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
          M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
          C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
          C80.2,0,80.1,0,80,0z"></path></svg>
      </div>
      <div class="u-palette-3-base u-shape u-shape-circle u-shape-2"></div>
        <div class="u-expanded-width-sm u-image u-image-circle u-image-1"></div>
        <div class="u-align-left u-container-style u-group u-palette-2-base u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1 shadow">
            <h2 class="u-text u-text-1">1. Quick Response Time</h2>
            <div class="u-text u-text-2">We always respond quickly to requests.</div>
            
            <h2 class="u-text u-text-1">2. Timely Help</h2>
            <div class="u-text u-text-2">Our staff always find a way to be of help on every request. </div>
            
            <h2 class="u-text u-text-1">3. Track and Monitor</h2>
            <div class="u-text u-text-2">You can track your shipment with ease.</div>
            
            <h2 class="u-text u-text-1">4. Personalised Services</h2>
            <div class="u-text u-text-2">Assured discount on your shipment.</div>
                
            <!-- <a href="#" class="u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-radius-50 u-white u-btn-2">Learn more</a> -->
          </div>
        </div>
        <div class="u-image u-image-circle u-image-2"></div>
        <h1 class="u-text u-text-palette-2-base u-text-4">Why Us?</h1>
    </div>
  </section>
  <app-contact-form></app-contact-form>
</div>