<div class="u-body">
    <section class="u-clearfix" style="margin-top: 3rem;" id="sec-6398">
        <div class="">
          <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-text-1">Frequently Asked Questions</h1>
          <p style="font-size: 19px; font-weight: 600;" class="u-align-center u-text u-text-2">
                Below are some of the questions frequently asked by our customers    
            </p>

            <div class="container">
                <div class="card shadow">
                    <h6>Do you offer pick-up services?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        Absolute YES! We will assist in picking up the goods in the country you are shipping from. We are in this industry to give stress-free experiences to all our customers.
                        All we need is the address and pick up contact for authorization and all information sent will be confidential. Pick-up charge will depend on the distance from the warehouse and the bill from the local courier that may be used in case of tight schedule.
                    </p>
                </div>

                <div class="card shadow">
                    <h6>Do you repack or cross-check goods sent to your warehouse?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We reserve the rights to check and examine all the goods sent to our offices to avoid carriage of contraband goods, delay and seizure at the ports of loading especially airport.
                        We repackage to meet up with standards of the both countries’ ports of loading and destination. Most times, repacking may even reduce the weight of the packs.</p>
                </div>

                <div class="card shadow">
                    <h6>What type of goods do you ship?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        All goods can be shipped except warship equipment, bomb equipment, ammunition, banned drugs (cocaine, marijuana and others). We can ship dangerous goods, sensitive goods, hazardous goods all with specifications by the countries’ port of loading and destination.
                        The above goods will not be charged with the same rate as the normal goods charges. The type of goods will determine the mode of shipment either through air or sea freight.
                    </p>
                </div>
                
                <div class="card shadow">
                    <h6>How long will my goods be ready for delivery?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        Transit time depends on the mode of shipping, documentation process and booking time.
                        For air Freight: your goods will be delivered (that mean freighting and clearance) between 3-14 days depending on the country, type of goods, air shipping type (normal or express shipping).
                        For sea Freight: transit days depend on the type of load method requested for. FCL takes like 35 – 45 days and LCL take like 45-60 days. All the processes will depend on the route of the ship voyage. The above is for transit time between the ports of loading and ports of destination. Clearance may take like 7-14 days.
                    </p>
                </div>

                <div class="card shadow">
                    <h6>How do you handle lost or damaged goods?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We take sole responsible of all the damages that occur during packing and shipping. Some damages may be incur by the airliners and shipping lines but we will also communicate with the affected customers to inform on the next steps to take.      
                    </p>
                </div>

                <div class="card shadow">
                    <h6>How do you handle lost or damaged goods?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We take sole responsible of all the damages that occur during packing and shipping. Some damages may be incur by the airliners and shipping lines but we will also communicate with the affected customers to inform on the next steps to take.      
                    </p>
                </div>

                <div class="card shadow">
                    <h6>What is Streetwise Delivery Freight Internaional coverage?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        Our company has  international coverage network. We have partners in almost all the countries in the world. You can rely on our services ranging from pick-up services via shipping to delivery aspect.
                        We covered Asia, Europe, Australia, North and South America, Africa. Did you have shipment in Poland, Dubai, China, India, United Kingdom, Germany, USA, Brazil, Canada, Indonesia and others. Just send mail through our contact or request quote page, we will assist you. Our agents will be glad to assist you in any service you may request for.
                    </p>
                </div>

                <div class="card shadow">
                    <h6>How long can my goods stay in your warehouse before shipment?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        For Air Freight: The goods can stay as long as you still need to buy more goods for shipment. We will need to determine the durability of the goods sent to our warehouse. Any perishable goods is advised to be shipped immediately with express shipping.
                        For Sea Freight: depending on the sea freight type. If you are using LCL (Less Container Load) it will stay with us, in order to get other consolidated goods ready for shipping process. For FCL (Full Container Load), it may not stay long because of the time schedule from the shipping lines. We have to meet up after booking.
                    </p>
                </div>

                <div class="card shadow">
                    <h6>Can I pay for goods before it arrive?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        Payment is subject to mode of shipping. For sea freight, customers will need pay for freight and documentation at the beginning of the transactions. Payment for clearance will be determined by the custom duty charges and handling charges.
                        For air freight services, payment may be made immediately. However, air freight services from some countries may require instant payment. All transactions will be made through company bank account(s) for legal references and proceedings. We will never accept payment if we are sure rendering services to you.    
                    </p>
                </div>

                <div class="card shadow">
                    <h6>How do I know the status of my goods?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We always inform our customers on the update of the progress on their shipment. We use technologies like call, SMS, Email, tracking route for some. Update on Every stage from pick-up, freight and shipping, custom clearance to delivery will be sent to the customer, even when not requested for.
                        You can rely on our customer services to relate with you as friends. We treat all customers equally and with due respect.       
                    </p>
                </div>

                <div class="card shadow">
                    <h6>How do I know the status of my goods?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We always inform our customers on the update of the progress on their shipment. We use technologies like call, SMS, Email, tracking route for some. Update on Every stage from pick-up, freight and shipping, custom clearance to delivery will be sent to the customer, even when not requested for.
                        You can rely on our customer services to relate with you as friends. We treat all customers equally and with due respect.       
                    </p>
                </div>

                <div class="card shadow">
                    <h6>Which shipping method do you specialize in?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        With our vast knowledge and understanding of shipping, we are specialists in handle cargo on different routes. When it comes to air freight services, we can coordinate your shipping plans with our teams that take pleasure in delivery excellence.
                        All documentations needed for particular consignment will handled over through airline operation to the clearing of the goods at the ports of destination.    
                    </p>
                </div>  
                
                <div class="card shadow">
                    <h6>How do you charge for freight services?</h6>
                    <p class="u-align-left u-text u-text-2" style="font-size: 16px !important;">
                        We charge based on the route of the freight. Air freight forwarding can be charge either by weight or volume depends on the state of the commodities (solid, liquid or gases). By weight, kilogram can used from countries like China, India, Germany, Poland, Indonesia, UAE, South Africa and other countries. Canada and USA use pounds (lbs) in weight measure.
                        Sea freight are charges based on containers if the shipment is FCL (Full Cargo Load). We charge based on CBM (Cubic Meter) for Less Cargo Load. All freight forwarding services from attract handling charges whether inbound or outbound all the goods via United Best Express Freight Company.    
                    </p>
                </div> 

            </div>
            
          
        <div style="height: 5rem;"> &nbsp; </div>
          <div style="position: absolute !important; top: 12rem;" class="u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1c42"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-1c42"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
                C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
                l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
                c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
                M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
                C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
                C80.2,0,80.1,0,80,0z"></path></svg>
          </div>
          
          <div style="position: absolute !important;" class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-2"></div>
          <div style="position: absolute !important; top: 13rem; z-index: -10;" class="myshape u-shape u-shape-svg u-text-palette-5-light-1 u-shape-3">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3be9"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3be9" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
          </div>
          
        </div>
      </section>
</div>
